<footer class=" bg-info mb-3 mt-3 ">

<div class="container">
    <h3><b>Nearby Places</b></h3>

     <div class="row">

         <!-- 1st Place -->
        <div class="col-md-3">
           <div class="tab-items-list">
               <a route-Link target="_blank" href="https://www.yatra.com/india-tourism/places-to-visit-in-chennai">Chennai</a>
           </div>
        </div>

        <!-- 2nd Place -->
        <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://www.tripadvisor.in/Attractions-g317098-Activities-Tiruchirappalli_Tiruchirappalli_District_Tamil_Nadu.html">Tiruchirappalli</a>
            </div>
         </div>

         <!-- 3rd Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://en.wikipedia.org/wiki/Poombuhar">Poompuhar</a>
            </div>
         </div>

         <!-- 4th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://www.tripadvisor.in/Attractions-g2288647-Activities-Krishnagiri_Krishnagiri_District_Tamil_Nadu.html">Krishnagiri</a>
            </div>
         </div>

         <!-- 5th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://ootytourism.co.in/sightseeing-places-to-visit-in-ooty">Ooty</a>
            </div>
         </div>

         <!-- 6th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://www.incredibleindia.org/content/incredibleindia/en/destinations/rameswaram.html">Rameswaram</a>
            </div>
         </div>

         <!-- 7th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://www.tripadvisor.in/Attractions-g12417652-Activities-Nagapattinam_District_Tamil_Nadu.html">Nagapattinam</a>
            </div>
         </div>

         <!-- 8th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://www.tripadvisor.in/Attractions-g2288642-Activities-Dharmapuri_Dharmapuri_District_Tamil_Nadu.html">Dharmapuri</a>
            </div>
         </div>

         <!-- 9th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://www.holidify.com/places/mahabalipuram/">Mamallapuram</a>
            </div>
         </div>

         <!-- 10th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://www.tripadvisor.in/Attractions-g790279-Activities-Kumbakonam_Thanjavur_District_Tamil_Nadu.html">Kumbakonam</a>
            </div>
         </div>

         <!-- 11th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://www.holidify.com/places/kodaikanal/">Kodaikanal</a>
            </div>
         </div>

         <!-- 12th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://www.tripadvisor.in/Attractions-g424926-Activities-Thanjavur_Thanjavur_District_Tamil_Nadu.html">Thanjavur</a>
            </div>
         </div>
    </div>
</div>
</footer>
<div class="container text-center mt-3">
    <p class="p-3">2022 All rights are reserved by TTN</p>
</div>
