<footer class=" bg-info mb-3 mt-3 ">

<div class="container ">
    <h3><b>Nearby Places</b></h3>

     <div class="row">

         <!-- 1st Place -->
        <div class="col-md-3">
           <div class="tab-items-list">
               <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/chennai/">Chennai</a>
           </div>
        </div>

        <!-- 2nd Place -->
        <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/tiruchirappalli/">Tiruchirappalli</a>
            </div>
         </div>

         <!-- 3rd Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/poompuhar/">Poompuhar</a>
            </div>
         </div>

         <!-- 4th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/krishnagiri/">Krishnagiri</a>
            </div>
         </div>

         <!-- 5th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/ooty/">Ooty</a>
            </div>
         </div>

         <!-- 6th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/rameswaram/">Rameswaram</a>
            </div>
         </div>

         <!-- 7th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/nagapattinam/">Nagapattinam</a>
            </div>
         </div>

         <!-- 8th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/dharmapuri/">Dharmapuri</a>
            </div>
         </div>

         <!-- 9th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/mamallapuram/">Mamallapuram</a>
            </div>
         </div>

         <!-- 10th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/kumbakonam/">Kumbakonam</a>
            </div>
         </div>

         <!-- 11th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/kodaikanal/">Kodaikanal</a>
            </div>
         </div>

         <!-- 12th Place -->
         <div class="col-md-3">
            <div class="tab-items-list">
                <a route-Link target="_blank" href="https://tamilnadutourism.tn.gov.in/thanjavur/">Thanjavur</a>
            </div>
         </div>
    </div>
</div>

<div class="container text-center mt-3">
    <p>2022@ All rights are reserved by TTN</p>
</div>
</footer>