<div class="container mt-3 ">
    <h6>Meenakshi-Temple, Madurai, Tamil Nadu, India</h6>
    <div class="row">
        <!-- Image 1 -->
        <div class="col-md-3">
            <img src="https://thumbs.dreamstime.com/b/golden-lotus-tank-gopurams-meenakshi-amman-temple-historic-hindu-temple-located-madurai-city-tamil-nadu-aug-golden-163369912.jpg"
                alt="" class="w-100">
        </div>
        <!-- Image 2 -->
        <div class="col-md-3">
            <img src="https://i.pinimg.com/originals/29/6e/ac/296eac3ef63b012a53ddf5c2c4e1ef63.jpg" alt=""
                class="w-100">
        </div>
        <!-- Image 3 -->
        <div class="col-md-3">
            <img src="https://i.natgeofe.com/n/3191c937-6104-49f1-9080-6d1c9d602f6d/pillars-meenakshi-amman-temple-india.jpg?w=636&h=423"
                alt="" class="w-100">
        </div>
        <!-- Image 4 -->
        <div class="col-md-3">
            <img src="https://www.outlookindia.com/outlooktraveller//public/uploads/filemanager/images/Inside-of-Meenakshi-hindu-temple-in-Madurai,-Tamil-Nadu,-South-India.-Religious-hall-of-thousands-of-columns.gif"
                alt="" class="w-100">
        </div>

        <!--<h5 class="mt-3">Meenakshi-Temple, Madurai, Tamil Nadu, India</h5> -->

        <!-- <h6>Information</h6> -->
        <div class="container mt-3">
            <h5>INTERESTING FACTS ABOUT THE HISTORICAL MEENAKSHI TEMPLE</h5>
            <p>Also known as the ‘Taj Mahal of the South, the Meenakshi Temple in Madurai, Tamil Nadu, is grand, both in
                terms of its religious and historical significance, and it's grand architecture. It’s also one of
                India's most visited temples, and is a must-visit spot in South India. If you are interested to visit,
                know all the interesting facts about this temple that you probably didn’t know yet.</p>

            <!-- Hall of thousand pillars  Info   -->
            <h6>Hall of thousand pillars</h6>
            <p>Also known as Aayiram Kaal Mandapam, the Hall of Thousand Pillars is a spectacular architectural piece
                that is said to have been built out of a single rock. One gets to witness numerous ancient paintings if
                you visit the temple’s museum, which is the only part of the temple that is accessible to visitors of
                all beliefs. This is also the largest hall in the temple, which features massive statues of Sivakami and
                Nataraja.</p>

            <!-- Gopurams  Info-->
            <h6>Gopurams</h6>
            <p>When here, you will get to witness 12 lofty gopurams, out of which four major ones have been placed in
                four directions, whereas there are four inner gopurams that serve as the entrance to the shrine. These
                gopurams have been intricately designed, and are cleaned and reconstructed after every 12 years.</p>

            <!-- Golden Lotus Pond  Info-->
            <h6>Golden Lotus Pond</h6>
            <p>There is a pond in Meenakshi Temple that is known as Porthamarai Kulam or ‘The Golden Lotus Pond’. The
                reason why this pond is special and is one-of-a-kind is the fact that the lotus which grows here
                features a hue of gold.</p>

            <!-- Restoration work Info -->
            <h6>Restoration work</h6>
            <p>This temple goes through a periodic restoration after every 12 years! This process is carried out as a
                ritual, when the sculptures of deities are repaired and repainted. As per the records, this is done to
                make sure that the splendour of the temple lasts forever.</p>

            <!-- All about 33000 sculptures Info -->
            <h6>All about 33000 sculptures</h6>
            <p>Another interesting feature of this colourful temple is the presence of around 33000 sculptures in it.
                However, it’s especially famed for its vast sculpture of the Nataraja, which has been built on a silver
                altar. When here, do check out the ‘Hall of Thousand Pillars’, where each pillar is believed to have
                been carved with various sculptures.</p>

            <!-- The idol of Meenakshi Info -->
            <h6>The idol of Meenakshi</h6>
            <p>The principal deity of this temple is Meenakshi, a form of Goddess Parvati, which has been carved in
                emerald hued stone. The idol has three breasts, as it is believed that Goddess Meenakshi was born with
                three breasts and was blessed with it which would supposedly vanish once she meets the right man of her
                life. Legends state that the third breast indeed vanished when she met Lord Sundareswarar, a form of
                Lord Shiva.</p>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h6>Informational Video</h6>
                    <iframe src="https://www.youtube.com/embed/qCrRh4RFfDQ" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen frameborder="0" height="300px" width="400px"></iframe>
                </div>

                <div class="col-md-4">
                    <h6>Best Hotels in Madurai</h6>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/cR21ghAJaws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen height="300px" width="400px"></iframe>
                </div>

                <div class="col-md-4">
                    <h6>Google Map</h6>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.173431043262!2d78.11715311473989!3d9.91950977713681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c58461e46987%3A0xf134621ce5286703!2sMeenakshi%20Amman%20Temple!5e0!3m2!1sen!2sin!4v1655367813403!5m2!1sen!2sin" width="400px" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
             
            <h5 class="d-flex justify-content-center mt-3 bg-warning">Thanks For Visiting</h5>
        </div>
    </div>