
<div class="container mt-3 ">
    <h6>Photos</h6>
    <div class="row">
<!-- Image 1 -->
        <div class="col-md-3">
            <img src="https://thumbs.dreamstime.com/b/golden-lotus-tank-gopurams-meenakshi-amman-temple-historic-hindu-temple-located-madurai-city-tamil-nadu-aug-golden-163369912.jpg"
                alt="" class="w-100">
        </div>
<!-- Image 2 -->
        <div class="col-md-3">
            <img src="https://media.istockphoto.com/photos/inside-of-meenakshi-temple-picture-id179524020"
                alt="" class="w-100">
        </div>
<!-- Image 3 -->
        <div class="col-md-3">
            <img src="https://i.natgeofe.com/n/3191c937-6104-49f1-9080-6d1c9d602f6d/pillars-meenakshi-amman-temple-india.jpg?w=636&h=423"
                alt="" class="w-100">
        </div>
<!-- Image 4 -->
        <div class="col-md-3">
            <img src="https://www.outlookindia.com/outlooktraveller//public/uploads/filemanager/images/Inside-of-Meenakshi-hindu-temple-in-Madurai,-Tamil-Nadu,-South-India.-Religious-hall-of-thousands-of-columns.gif"
                alt="" class="w-100">
        </div>

  
        <h5 class="mt-3">Meenakshi-Temple, Madurai, Tamil Nadu, India</h5>

        <!-- <h6>Information</h6> -->
        

    </div>
</div>


